<!-- ========================================================
COLORS
#EAE7DC
#D8C3A5
#8E8D8A 
#E98074 
#E85A4F  -->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="theme-color" content="green" />	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <title>About NICOV</title>
        <style>
                * {
                        background: #99ff99;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                body {
                        text-align: center;
                        width: 50%;
                        background: #99ff99;
                        margin:auto;
                        margin-top: 70px;
                }
                h2 {
                        font-weight: 900;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        color:green;
                }
                h4 {
                        font-weight: 900;
                        text-align: center;
                        color:green;
                }
                hr {
                        border: 1px solid black;
                }
                h3 {
                        font-weight: 900;
                        text-align: center;
                        color:white;
                        text-shadow: 1px 1px black;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: auto;
                        font-size: 20px;
                        padding-top: 40px;
                }
                p {
                        font-size: 15px;
                        padding: 10px;
                }
                @media screen and (max-width:750px){
                        body {
                                width: 100%;
                        }
                }
        </style>
</head>
<body>
        <section>
                <div class="first">
                        <h2>
                                NICOV
                        </h2>
                        <p>
                                "A website designed for covid-19 in Nigeria with updated data for worldwide and countries like Nigeria, USA, Spain, Italy and China(where it began)
                                cases, deaths and recovered respectively."
                        </p>
                        <h3>
                                HOME PAGE
                                <hr>
                        </h3>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                                This phase contains the top 5 states suffering from covid-19 in Nigeria displayed in bar-chart where the cases, deaths and recovered datas are scraped
                                from ncdc directly, via clicking on the bar-chart of a particular state displays the data of that state by the right-corner.

                                <p>By means of a click on the show more takes you to the entire states in Nigeira displayed in bar-chart and pie chart from the highest rank to
                                the lowest rank of cases.</p>
                        </p>
                        <h4>
                                PHASE 2
                        </h4>
                        <p>
                                The second phase contains a sliding image and texts flashing concerning precautions on covid-19.
                        </p>
                        <h4>
                                PHASE 3
                        </h4>
                        <p>
                                This lay out contains where you can get positively or nehatively tested on the site.
                        </p>
                        <h3>
                                POSTS PAGE
                                <hr>
                        </h3>
                        <p>
                                By clicking the three horizontal lines and tapping posts take you to the posts page
                        </p>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                                This phase contains an illustration and a text(stick anything about covid), whereby clicking on it takes you where to place your content.
                        </p>
                        <h4>
                                PHASE 2
                        </h4>
                        <p>
                                This phase contains only placed contents
                        </p>
                        <h3>
                                SHOW PAGE
                                <hr>
                        </h3>
                        <p>
                                Clicking a post takes you to the show page
                        </p>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                                It contains the entire post such as likes and comments.
                        </p>

                        <p>
                               Only the owner of the post can edit and delete his/her post including events like matching likes and comments
                        </p>
                        <p>
                               External users are only permitted to like and comment on that page
                        </p>

                </div>
        </section>
</body>
</html>