<!-- ========================================================
COLORS
#EAE7DC
#D8C3A5
#8E8D8A 
#E98074 
#E85A4F  -->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="theme-color" content="green"/>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <title>Animations on NICOV</title>
        <style>
                * {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                body {
                        text-align: center;
                        width: 50%;
                        margin:auto;
                        margin-top: 70px;
                }
                h2 {
                        font-weight: 900;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        color:green;
                }
                h4 {
                        font-weight: 900;
                        text-align: center;
                        color:green;
                }
                hr {
                        border: 1px solid black;
                }
                h3 {
                        font-weight: 900;
                        text-align: center;
                        color:white;
                        text-shadow: 1px 1px black;
                        font-family: Arial, Helvetica, sans-serif;
                        margin: auto;
                        font-size: 20px;
                        padding-top: 40px;
                }
                p {
                        font-size: 15px;
                        padding: 10px;
                }
                @media screen and (max-width:750px){
                        body {
                                width: 100%;
                        }
                }
        </style>
</head>
<body>
        <section>
                <div class="first">
                        <h2>
                                ANIMATIONS IN NICOV
                        </h2>
                        <p>
                                "The animatons are created for good interaction with the user."
                        </p>
                        <h3>
                                SECRET PAGE
                                <hr>
                        </h3>
                        <p>
                            To get to the secret page you have to add /secret at the end of the url.
                        </p>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                            Tapping the smiley face show a sign of contacting covid-19 by touch.
                        </p>
                        <h3>
                                SECRET2 PAGE
                                <hr>
                        </h3>
                        <p>
                            To get to the secret2 page you have to add /secret2 at the end of the url.
                        </p>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                            it shows a percent rate of how a coronavirus patient can contact a non-coronavirus patient.
                        </p>
                        <p>
                            By click and hold on the screen enlarges to night mode
                        </p>
                        <h3>
                                SHOW PAGE
                                <hr>
                        </h3>
                        <p>
                                Clicking a post takes you to the show page
                        </p>
                        <h4>
                                PHASE 1
                        </h4>
                        <p>
                                By clicking the image on the show screen page on to circle and toggles off to square shape.
                        </p>

                </div>
        </section>
</body>
</html>