<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3aaf45" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
    <title>COVID-19 test</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body {
            font-size: 18px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: black;
            color: white;
        }
        .topnav {
            background-color: #3aaf45;
            padding: 15px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 100;
        }
        .topnav h2 {
            font-size: 18px;
        }
        .story {
            width: 72%;
            padding: 15px;
            margin-top: 50px;
        }
        .four_links {
            justify-content: center;
            margin: auto;
            text-align: -moz-center;
            margin-top: 40px;
        }
        .choice{
            text-align: center;
            border-top-left-radius: 50px 50px;
            border-bottom-left-radius: 50px 50px;
            border-top-right-radius: 50px 50px;
            border-bottom-right-radius: 50px 50px;
            cursor: pointer;
            padding : 10px;
            margin: auto;
            margin-top: 19px;
            color: white;
            background-color: none;
            width: 300px;
            border: 1px solid white;
            font-weight: 900;
            transition: 0.3s;
        }
        .choice a{
            color: white;
            font-size: 14px;
            text-decoration: underline;
        }
        .footer {
            background-color: #3aaf45;
            text-align: center;
            padding: 10px;
            margin-top: 60px;
            font-weight: 900;
            font-size: 16px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    </style>
</head>
<body>
    <div class="topnav">
        <h2>COVID-19 Impact in Nigeria</h2>
    </div>
    <div class="story">
        The following survey will ask you a series of questions about
             the coronavirus pandemic (covid-19) and how it has impacted your day-to-day
              activities, community well-being and mainly Nigeria as a whole.
    </div>

    <div class="four_links">
        <div class="choice"><a href="/ctest/test">Check yourself</a></div>
        <div class="choice"><a href="/ctest/spread">Spread of covid-19</a></div>
        <div class="choice"><a href="/ctest/government">Government response to covid-19</a></div>
        <div class="choice"><a href="/ctest/environment">Impact of covid-19 on your day-to-day activities</a></div>
        <div class="choice"><a href="/ctest/information">How you receive information on covid-19</a></div>
    </div>

    <div class="footer">
        I <i class="heart icon"></i>Nigeria.
    </div>
</body>
</html>