
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#3aaf45" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
        <title>COVID-19 environment test</title>
        <style>
        body{
                margin: 0;
                padding: 0;
                justify-content: center;
                align-items: center;
                font-family: arial;
                text-align: right;  
                overflow-x: hidden;      
            }
        .topnav {
            background-color: #3aaf45;
            padding: 35px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 100;
        }
        .topnav h2 {
            font-size: 28px;
            text-align: left;
            color: white;
        }
        #container{
            margin : 20px auto;
            position: relative;
        }
        
        #start {
            text-align: left;
            padding: 30px;
            font-size: 25px;
            width: 41%;
            color: black;
        }
        #start button{
            text-align: right;
            cursor: pointer;
            position: relative;
            padding: 10px 20px;
            color: black;
            background: none;
            text-transform: uppercase;
            border-top-left-radius: 50px 50px;
            border-bottom-left-radius: 50px 50px;
            border-top-right-radius: 50px 50px;
            border-bottom-right-radius: 50px 50px;
            letter-spacing: 4px;
            text-decoration: none;
            font-size: 20px;
            overflow-x: hidden;      
            margin: auto;
            font-weight: 900;
            margin-top: 30px;
        }
        #start:hover{
        }


        #question{
            width: 70%;
            height : 100%;
            text-align: center;
            margin: auto;
            
        }
        #question p{
            color: black;
            margin : 0;
            padding : 15px;
            font-size: 24px;
        }

        #choices{
            width : 100%;
            padding : 10px;
            border-top: 2px solid #3aaf45;
            border-bottom: 2px solid #3aaf45;
            text-align: center;
            margin: auto;
        }
        .choice{
            display: inline-block;
            width : 350px;
            text-align: center;
            border: 1px solid black;
            border-top-left-radius: 50px 50px;
            border-bottom-left-radius: 50px 50px;
            border-top-right-radius: 50px 50px;
            border-bottom-right-radius: 50px 50px;
            cursor: pointer;
            padding : 15px;
            margin: 10px;
            display: block;
            color: #3aaf45;
            border: 1px solid black;
            background-color: none;
            color: black;
        }
        .choice:hover{
            border : 2px solid grey;
        }

        #counter{
            font-size: 3em;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        #progress{
            width : 300px;
            padding: 5px;
            text-align:center;
            margin: auto;
            margin-bottom: 50px;
        }
        .prog{
            width : 25px;
            height : 25px;
            border: 1px solid #000;
            display: inline-block;
            border-radius: 50%;
            margin-top: 50px;
        }
        #scoreContainer{
            margin : 20px auto;
            background-color: white;
            opacity: 0.8;
            height: 300px;
            width : 700px;
            border-radius: 5px;
            position: relative;
            display: none;
        }
        #scoreContainer img{
        }
        #scoreContainer p{
            display: block;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
        }


        hr {
                background-color: #ccc;
                color: black;
                margin-top: 3px;
                margin-bottom: 3px;
                height: 7px;
            }











        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            text-align: left;
        }
        .modal-content p{
            margin-right: 20px;
            padding-right: 20px;
        }

        .modal-content h2{
            padding-top: 10px;
            font-weight: 100;
        }
        .modal-content hr{
                background-color: #ccc;
                color: black;
                margin-top: 3px;
                margin-bottom: 3px;
                height: 2px;
        }

        a {
            color: red;
            font-weight: 900;
            text-decoration: none;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }








        @media screen and (max-width: 760px){
            .topnav {
                padding: 20px;
            }
            .topnav h2 {
                font-size: 18px;
            }
            #start {
                width: 70%;
                font-size: 18px;
                padding: 15px;
                margin-top: 50px;
            }
            #start button{
                letter-spacing: 2px;
                position: relative;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 12px;
                font-weight: 900;
            }

            #question{
                height : 125px;
                width: 100%;
            }
            #question p{
                margin : 0;
                padding : 15px;
                padding: 15px 30px;
                font-size: 16px;
            }
            #choices{
                margin: auto;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .choice{
                display: inline-block;
                text-align: center;
                cursor: pointer;
                padding : 10px;
                margin: auto 10px 10px 10px 10px;
                display: block;
                width: 300px;
                justify-content: center;
                transition: 0.3s;
                font-size: 14px;
            }
            .choice:hover {
            }

            #scoreContainer{
                margin : 20px auto;
                background-color: #3aaf45;
                opacity: 0.8;
                height: 300px;
                width : 300px;
                border-radius: 5px;
                position: relative;
                display: none;
            }
            #scoreContainer img{
            }
            #scoreContainer p{
                display: block;
                font-size: 1.5em;
                font-weight: bold;
                text-align: center;
                color: black;
                margin: auto;
                width: 200px;
            }


        }






        </style>
</head>
<body>
    

    <div class="topnav">
        <h2>COVID-19 Impact in Nigeria</h2>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" id="modal-content">
        <a href="/">close</a>
        </div>
    </div>




    <div id="container">
        <div id="start">
            <div>The following questions will ask you about the impact of COVID-19 pandemic on your day-to-day life and
                     personal finances. 
            </div>
            <button>continue</button>
        </div>
        <div id="quiz" style="display: none">
            <div id="question"></div>   

            <hr/>
            <div id="choices">
                <div class="choice" id="best" onclick="checkAnswer('best')"></div>
                <div class="choice" id="good" onclick="checkAnswer('good')"></div>
                <div class="choice" id="medium" onclick="checkAnswer('medium')"></div>
                <div class="choice" id="bad" onclick="checkAnswer('bad')"></div>
                <div class="choice" id="worst" onclick="checkAnswer('worst')"></div>
            </div>
            <hr/>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display: none"></div>
        <button id="myBtn" style="opacity: 0;">Submit</button>
    </div>
    



































<script>
        const start = document.getElementById("start");
        const quiz = document.getElementById("quiz");
        const question = document.getElementById("question");
        const choiceA = document.getElementById("best");
        const choiceB = document.getElementById("good");
        const choiceC = document.getElementById("medium");
        const choiceD = document.getElementById("bad");
        const choiceE = document.getElementById("worst");
        const counter = document.getElementById("counter");
        const timeGauge = document.getElementById("timeGauge");
        const progress = document.getElementById("progress");
        const scoreDiv = document.getElementById("myModal");
        const modalC = document.getElementById("modal-content");

// create our questions
let questions = [
    {
        question : "Has your income been at all affected by the COVID-19 pandemic?",
        choiceA : "No, not at all",
        choiceB : "Yes, I have a reduction in my income",
        choiceC : "No increase or decrease income",
        choiceD : "Yes, I lost my job",
        choiceE : "No, I'm a studnet",
        correct : "best"
    },{
        question : "How concerned are you that your economic situation will be negatively Impacted in the next 30 days as a result of a change in economic activity?",
        choiceA : "Very concerned",
        choiceB : "Concerned",
        choiceC : "Neither concerned nor unconcerned",
        choiceD : "Unconcerned",
        choiceE : "Very unconcerned",
        correct : "good"
    },{
        question : "When you leave your home, do you typically wear a face mask and go around with hand sanitizers?",
        choiceA : "Yes, always",
        choiceB : "Yes, sometimes",
        choiceC : "I'm not sure",
        choiceD : "No, I don't like face masks and sanitizers",
        choiceE : "No, never",
        correct : "medium"
    },{
        question : "Do school-aged children living in your household schools being closed due to COVID-19?",
        choiceA : "Yes, their school has closed",
        choiceB : "They are homeschooled",
        choiceC : "They dont attend school",
        choiceD : "Their school had closed but is re-open or re-opening soon",
        choiceE : "No, their school has not closed ",
        correct : "bad"
    },{
        question : "How much of an impact do you believe the COVID-19 pandemic and subsequent quarantine measures have had on your mental and emotional health?",
        choiceA : "Extreme positive impact",
        choiceB : "Some postive impact",
        choiceC : "Neither postive nor negative impact",
        choiceD : "Some negative impact",
        choiceE : "Extreme negative impact",
        correct : "worst"
    }
];

// create some variables
const lastQuestion = questions.length - 1;
let runningQuestion = 0;
let count = 0;
const questionTime = 10; // 10s
const gaugeWidth = 150; // 150px
const gaugeUnit = gaugeWidth / questionTime;
let TIMER;
let score = 0;

// render a question
function renderQuestion(){
        let q = questions[runningQuestion];
        
        question.innerHTML = "<p>"+ q.question +"</p>";
        choiceA.innerHTML = q.choiceA;
        choiceB.innerHTML = q.choiceB;
        choiceC.innerHTML = q.choiceC;
        choiceD.innerHTML = q.choiceD;
        choiceE.innerHTML = q.choiceE;
}

start.addEventListener("click",startQuiz);

// start quiz
function startQuiz(){
        start.style.display = "none";
        renderQuestion();
        quiz.style.display = "block";
        renderProgress();
        renderCounter();
        TIMER = setInterval(renderCounter,1000); // 1000ms = 1s
}

// render progress
function renderProgress(){
        for(let qIndex = 0; qIndex <= lastQuestion; qIndex++){
                progress.innerHTML += "<div class='prog' id="+ qIndex +"></div>";
        }
}















        // Get the modal
        var modal = document.getElementById('myModal');
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        
        


        //if answer equals best score + 10
        function checkAnswer(answer){
            if( answer == 'best'){
                // answer is correct
                // change progress color to green
                answerIsCorrect();
                score+= 0.15;
            }
            else if( answer == 'good'){
                // answer is correct
                // change progress color to green
                score += 0.3;
                answerIsCorrect();
            }
            else if( answer == 'medium'){
                // answer is correct
                score+= 0.5;
                // change progress color to green
                answerIsCorrect();
            }
            else if( answer == 'bad'){
                score+= 0.75;
                // answer is correct
                // change progress color to green
                answerIsCorrect();
            }
            else{
                score+= 0.9;
                // answer is wrong
                // change progress color to red
                answerIsWrong();
            }
            count = 0;
            if(runningQuestion < lastQuestion){
                runningQuestion++;
                renderQuestion();
            }
            else if (runningQuestion == lastQuestion){
                btn.style.display = 'block';
                scoreRender();
            }
            else{
                // end the quiz and show the score
                clearInterval(TIMER);
            }
        }

        // answer is correct
        function answerIsCorrect(){
            document.getElementById(runningQuestion).style.backgroundColor = "black";
        }

        // answer is Wrong
        function answerIsWrong(){
            document.getElementById(runningQuestion).style.backgroundColor = "black";
        }

        // score render
        function scoreRender(){
            scoreDiv.style.display = "block";
            
            // calculate the amount of question percent answered by the user
            const scorePerCent = Math.round(100 * score/questions.length);
            
            // choose the image based on the scorePerCent
            let img = (scorePerCent >= 80) ? "img/5.png" :
                    (scorePerCent >= 60) ? "img/4.png" :
                    (scorePerCent >= 40) ? "img/3.png" :
                    (scorePerCent >= 20) ? "img/2.png" :
                    "img/1.png";
            
            //scoreDiv.innerHTML = "<img src="+ img +">";

            if(scorePerCent < 30){
                    modalC.innerHTML += "<h2> "+ scorePerCent + "% Environment impact</h2><hr/><p>Very low chance of contracting COVID-19 through environment. Your record is sent to ncdc successfully</p>";
            }
            else if (scorePerCent < 50){
                    modalC.innerHTML += "<h2> "+ scorePerCent + "% Environment impact</h2><hr/><p>Low chance of contracting COVID-19 through environment. Your record is sent to ncdc successfully</p>";
            
            }
            else if (scorePerCent < 70){
                    modalC.innerHTML += "<h2> "+ scorePerCent + "% Environment impact</h2><hr/><p>High chance of contracting COVID-19 through environment. Your record is sent to ncdc successfully</p>";
            }
            else { 
                    modalC.innerHTML += "<h2> "+ scorePerCent + "% Environment impact</h2><hr/><p>Very high chance of contracting COVID-19 through environment. Your record is sent to ncdc successfully</p>";
            }
        }
</script>
</body>
</html>