<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="navy" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->	
            <link rel="icon" type="image/png" href="logreg/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/vendor/animate/animate.css">
    <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="logreg/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="logreg/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
			<!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="logreg/css/util.css">
            <link rel="stylesheet" type="text/css" href="logreg/css/main.css">
    <!--===============================================================================================-->
			


</head>
<style type="text/css">
.alert-danger {
    padding-top: 0px;
}
/* @media screen and (max-width: 1200px){
	.wrap-login100 {
		width: 75%;
		height: 1000px;
	}
	.login100-form-title {
		font-size: 55px;
		padding-bottom: 120px;
	}
	.wrap-input100 {
		width: 80%;
		margin: auto 70px 70px;
		padding: 18px;
	}
	i.icon {
		font-size: 28px;
	}
	.input100 {
		font-size: 26px;
	}
	.login100-form-btn {
		padding: 32px 70px;font-size: 24px;
	}
	.txt1 {
		font-size: 22px;
	}
	.fppp {
		padding-top: 100px;
	}
	.txt2 {
		font-size: 30px;
	}
} */
</style>
<body>



<!-- <h1>LOGIN!</h1>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<input type="submit" value="login">
</form> -->



	<div class="container-login100" style="background-image: url('fpart/full/mlogin.png');">




		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">





			<!-- for the flash -->
			<div class="conntainer">
				<% if(error && error.length > 0){ %>
					<div class="alert alert-danger" role="alert">
						<i class="bell slash outline icon"></i>
							<%= error %>
					</div>
					<% } %>
					<% if(success && success.length > 0){ %>
					<div class="alert alert-success" role="alert">
						<i class="bell outline icon"></i>
							<%= success %>
					</div>
					<% } %>
			</div>
			<!-- end of flash -->







			<form action="/login" method="POST" class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Sign In
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
					<span class="flex">
						<i class="user icon"></i>
						<input class="input100" type="text" name="username" placeholder="username">
					</span>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<div class="flex">
						<i class="lock icon"></i>
						<input class="input100" type="password" name="password" placeholder="password">
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Sign In
					</button>
				</div>

				<div class="text-center p-t-57 p-b-20 fppp">
					<span class="txt1">
						or
					</span>
				</div>
<!-- 
				<div class="flex-c p-b-112">
					<a href="#" class="login100-social-item">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="#" class="login100-social-item">
						<img src="images/icons/icon-google.png" alt="GOOGLE">
					</a>
				</div> -->

				<div class="text-center">
					<a href="/register" class="txt2 hov1">
						Not registered, Sign Up
					</a>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="logreg/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="logreg/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="logreg/vendor/bootstrap/js/popper.js"></script>
	<script src="logreg/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="logreg/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="logreg/vendor/daterangepicker/moment.min.js"></script>
	<script src="logreg/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="logreg/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="logreg/js/main.js"></script>

</body>
</html>