<!--
         ===========================================================================================
                        JUST TO PUT UNCLICKABLE BUTTON  AT UNLOGIN PART
         =========================================================================================== 
-->
<html>	
        <head>		
                <meta name="theme-color" content="green" />		
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">		
                <link rel="stylesheet" href="fpart/css/secret.css">	
                <title>COVID-19 FOR NIGERIANS</title>	
                <style>
                        @media screen and (max-width:1240px){
                                
                        }
                        
                </style>
        </head>	
        <body>	

                



                <section class="maintain">
        

                        <div class="container">
                                <h2>Please!!! do not attempt to touch</h2>
                                <div class="face forgood" id="toggle" onclick="onClickFace()">
                                        <div class="eyes">
                                                <span class="eye"></span>
                                                <span class="eye"></span>
                                                <span class="mouth" id="toggle_mouth"></span>
                                        </div>
                                </div>

                                <div class="face" id="toggle1" onclick="onClickFace1()">
                                        <div class="eyes">
                                                <span class="eye"></span>
                                                <span class="eye"></span>
                                                <span class="mouth" id="toggle_mouth1"></span>
                                        </div>
                                </div>

                                <div class="face" id="toggle2" onclick="onClickFace2()">
                                        <div class="eyes">
                                                <span class="eye"></span>
                                                <span class="eye"></span>
                                                <span class="mouth" id="toggle_mouth2"></span>
                                        </div>
                                </div>

                                <h2>Let's unite and fight together with Covid-19</h2>
                        </div>
                
                
                </section>

                <script>
                        document.querySelector("body").addEventListener('mousemove', eyeball);
                        function eyeball(){
                                var eye = document.querySelectorAll(".eye");
                                eye.forEach(function(eye){
                                        let x = (eye.getBoundingClientRect().left) + (eye.clientWidth / 2);
                                        let y = (eye.getBoundingClientRect().top) + (eye.clientHeight / 2);
                                        let radian = Math.atan2(event.pageX - x, event.pageY - y);
                                        let rot = (radian * (180 / Math.PI)* -1) + 270;
                                        eye.style.transform = "rotate(" + rot + "deg)";
                                })
                        }
                </script>






                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                

                <script type="text/javascript">
                        function onClickFace(){	

                                document.getElementById("toggle").classList.add("toggle");	
                                document.getElementById("toggle_mouth").classList.add("toggle_mouth");	
                        }

                        
                        function onClickFace1(){	

                                document.getElementById("toggle1").classList.add("toggle");	
                                document.getElementById("toggle_mouth1").classList.add("toggle_mouth");	

                        }
                        
                        function onClickFace2(){	

                                document.getElementById("toggle2").classList.add("toggle");	
                                document.getElementById("toggle_mouth2").classList.add("toggle_mouth")	
                                //document.getElementById("toggle_mouth2").classList.toggle("toggle_mouth");	

                        }
                </script>

        </body>
</html>