<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
        <meta name="theme-color" content="red" />	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">		
        <link rel="stylesheet" href="fpart/css/secret2.css">		
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <title>COVID-19 FOR NIGERIANS</title>	
        <style>
                section {
                        background-image: url(cartoon/background.png);
                        background-size: contain;
                        background-position: left;
                        background-repeat: no-repeat;
                        height: 500px;
                }
                @media screen and (max-width:1250px){
                        section {
                                height: 500px;
                                background-size: cover;
                                background-position: center;
                        }

                }

        </style>
</head>

<body>
    
        <section>

                <div class="first">
                        <span><%=currentUser.username%></span>
                        <h2>
                                Message from Odun-ola to <span><%=currentUser.username%></span>
                        </h2>
                </div>

        </section>
        <div id="cursor">

        </div>

        <div class="second">
                comparisons of contact
                <div class="second_1 paddd">
                        <span>coronavirus patient</span>
                        <span class="left">non-coronavirus patient</span>
                </div>
                <div class="second_1">
                        <img src="cartoon/face5.png" alt="">
                        70%
                        <img src="cartoon/face6.png" alt="">
                </div>
                <div class="second_1">
                        <img src="cartoon/face6.png" alt="">
                        5%
                        <img src="cartoon/face5.png" alt="">
                </div>
                <div class="second_1">
                        <img src="cartoon/face7.png" alt="">
                        1.5%
                        <img src="cartoon/face6.png" alt="">
                </div>
        </div>


        <div class="fifth">
                made with <i class="icon heart" style="color: white;"></i> by odun-ola.
        </div>




<script>
        var cursor = document.getElementById('cursor');
        window.onmousemove = function(e){
                var x = e.clientX,
                    y = e.clientY;
                cursor.style.left = x + 'px';
                cursor.style.top = y + 'px';
        }
</script>

</body>
</html> 