
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background: navy;
}
img {
    width: 100%;
    height: 90vh;
}
h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width:1250px){
    img {
        width: 100%;
        height: 70vh;
    }
    .space1 {
        width: 100%;
        height: 100px;
    }
    h2 {
        padding-top: 30px;
    }
    
}

