
.maiin{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
}
.maiin .slider{
    position:relative;
    width:500%;
    height:100%;
    transition:0.3s linear;
    overflow:hidden;
    display:flex;
}
.maiin .slider .slide{
    position:relative;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:#fff;
    overflow:hidden;
}
.maiin .slider .slide:nth-child(1){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../full/distance1.png');
    background-size:100% 100%;
    background-position:100% 100%;
}
.maiin .slider .slide:nth-child(2){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../full/touching.png');
    background-size:100% 100%;
    background-position:100% 100%;
}
.maiin .slider .slide:nth-child(3){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../full/social_gathering.png');
    background-size:100% 100%;
    background-position:100% 100%;
}
.maiin .slider .slide:nth-child(4){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../full/dispose.png');
    background-size:100% 100%;
    background-position:100% 100%;
}
.maiin .slider .slide:nth-child(5){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../full/stay_home.png');
    background-size:100% 100%;
    background-position:100% 100%;
}
.maiin .slider .slide h1{
    position:relative;
    background:#fff;
    color:#000;
    font-size:6.5em;
    padding:5px 15px;
    font-weight:850;
    mix-blend-mode:screen;
    margin-right: 505%;
}
.maiin .slider .slide.active h1{
    animation:animateheading 0.5s forwards 1;
    animation-delay:0.3s;
}
@keyframes animateheading{
to{
    margin-right:0;
}
}
.maiin .slider .slide p{
    position:relative;
    background: navy;
    color:#fff;
    font-size:1.2em;
    font-weight:500;
    width:auto;
    text-align:center;
    padding:10px 15px;
    margin-top:1%;
    margin-left:505%;
    transition:0.3s linear;
    transition-delay:0.3s;
}
.maiin .slider .slide.active p{
    animation:animateparagraph 0.5s forwards 1;
    animation-delay:0.3s;
}
@keyframes animateparagraph{
to{
    margin-left:0;
}
}
.maiin .slider-btn{
    position:absolute;
    z-index:999;
    bottom:0.2%;
    right:0;
    height:60px;
    width:calc(50px *2);
    display:flex;
}
.maiin .slider-btn a.prev,
.maiin .slider-btn a.next{
    text-decoration:none;
    width:inherit;
    height:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.8em;
    font-weight:850;
    transition:0.2s linear;
}
.maiin .slider-btn a.prev:hover,
.maiin .slider-btn a.next:hover{
    background:none;
    cursor: none;
    color:#fff;
}