
* {
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: none !important;
}

section {
    width: 100%;
    background-image: url(cartoon/background.png); 
    height: 400px;
    padding: 30px;
}
/* red,orange,#66ffff was nice */
/* brown was a little nice */
div#cursor {
        
        background: white;
}

section p {
    font-size: 2em;
}
#cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: #2251dd;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: width 25s, height 25s;
}



@media screen and (max-width:1250px){
    #cursor {
        width: 300px;
        border-radius: 50%;
        height: 300px;
    }
    section {
        padding: 30px;
    }
}


#cursor:active {
    width: 3200px;
    height: 3200px;
    transition: width 5s, height 5s;
}

#cursor:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

#cursor:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background: #000;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

#cursor:active:before,
#cursor:active::after{
    opacity: 1;
}



.first {
    font-size: 18px;
    height: 400px;
}
.first > span {
    font-family: algerian;
    width: 100%;
    color: white;
}
.first h2 {
    font-weight: 100;
    font-size: 20px;
    padding-top: 180px;
}
.first h2 span {
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.second {
    width: 100%;
    background: white;
    font-size: 18px;
    text-align: center;
    color: red;
    padding-top: 30px;
    text-transform: uppercase;
}
.second_1 {
    display: block;
}
.paddd {
    padding-top: 50px;
}

.fifth {
    width: 100%;
    background: red;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
}
span {
    font-size: 14px;
    color: black;
}
.left {
    padding-left: 80px;
}




img {
    width: 200px;
    height:200px;
}

@media screen and (max-width:1250px){
    section {
        background-size: contain;
        height: 300px;
        background-position: none;
    }
    .first {
            height: 300px;
    }
    .first span {
            font-size: 10px;
    }
    .first h2 {
            font-size: 12px;
            padding-top: 145px;
    }
    .first h2 span {
            font-size: 12px;
    }


    .second {
            font-size: 12px;
            padding-top: 0px;

    }
    .second_1.paddd span{
            font-size: 10px;
    }
    img {
            height:150px;
            width: 150px;
    }
    .left {
        padding-left: 58px;
    }
}
