
                    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}
section.maintain {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: navy;
        cursor: url('fpart/full/covid.png'), pointer;

}
.container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
}
.container .face {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
}
.container .face:hover {
        background: linear-gradient(180deg, #f44336, #f44336, LightBlue);
}
.toggle {
        background: linear-gradient(180deg, #f44336, #f44336, LightBlue);
}

.toggle_mouth {
        top: 150px !important;
        width: 150px !important;
        height: 20px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        background: #9d0b00 !important;
}

.container .mouth {
        content: '';
        position: absolute;
        top: 120px;
        right: 33px;
        width: 150px;
        height: 70px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
        background: lavender;
        transition: 0.5s;
}
.face:hover .mouth {
        top: 150px;
        width: 150px;
        height: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background: #9d0b00;
}
.container .face .eyes {
        position: relative;
        top: -40px;
        display: flex;
        flex-wrap: wrap;
}
.container .face .eyes .eye{
        position: relative;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 15px;
        background: white;
        border-radius: 50%;
}
.container .face .eyes .eye:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: black;
        border-radius: 50%;
}
.container h2 {
        position: absolute;
        top: 75px;
        font-size: 3em;
        color: #fff;
}
.container h2:last-child
    {
        position: absolute;
        top: initial;
        bottom: 75px;
        font-size: 3em;
        color: #fff;
}

@media screen and (max-width:1240px){
        section.maintain {
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: auto;
        }

        .container {
                display:block;
        }
        .container div.face {
                margin-top: 120px;
                margin-left: 200px;
        }
        div.face.forgood {
                margin-top: 400px;
        }
        .container .face .eyes .eye{
                border: 1px solid blue;
        }
        .container .face {
                border: 3px solid white;
        }
}